<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <fieldset>
        <form action="/nextSteps" method="post">
          <input type="submit" class="ghost-button" value="Show the grocery list by department", name='departent'>
          <input type="submit" class="ghost-button" value="Show the grocery list alphabetically by item names!", name='alphabetically'>
          <input type="submit" class="ghost-button" value="Write the list to a file, (always by department)", name='write'>
          <input type="submit" class="ghost-button" value="End the program", name='quit'>
          <input type="submit" class="ghost-button" value="Add more items to the list.", name='more'>
        </form>
      </fieldset>
    </div>
  </body>
</html>
